@{
    ViewBag.Title = "Instellingen";
}

<h4>Bedijfs instellingen</h4>
@Html.ActionLink("Bedrijfs instellingen", "Company")
<hr />

<h4>Email</h4>
@Html.ActionLink("Email instellingen","Email")
<hr />

<h4>Persoonlijk</h4>
@Html.ActionLink("Wachtwoord wijzigen", "ChangePassword", "Manage")
<hr />


